.thai {
    font-family: 'Kanit', sans-serif;
}
.thai-200 {
    font-family: 'Kanit', sans-serif;
    font-weight: 200!important
}
.thai-300 {
    font-family: 'Kanit', sans-serif;
    font-weight: 300!important
}
.thai-400 {
    font-family: 'Kanit', sans-serif;
    font-weight: 400!important
}
.thai-500 {
    font-family: 'Kanit', sans-serif;
    font-weight: 500!important
}
.thai-600 {
    font-family: 'Kanit', sans-serif;
    font-weight: 600!important
}
.fs-14 {
    font-size: 14px!important
}
.fs-16 {
    font-size: 16px!important
}
.fs-18 {
    font-size: 18px!important
}
.fs-20 {
    font-size: 20px!important
}
.fs-22 {
    font-size: 22px!important
}
h2,h3,h4,h5,p {
    font-family: 'Kanit', sans-serif;
    font-weight: 400
}
p {
    font-size: 16px
}
#content {
    background-color: #f8f9fa
}
#page-title {
    background-color: rgb(48, 48, 48)
}
#page-title h1 {
    color: white
}
#header.full-header #primary-menu > ul {
    float: left;
    padding-right: 15px;
    margin-right: 0;
    border-right: none
}
#copyrights span{
    color: white
}


/* index */
.slider-caption h2 {
    font-weight: 400
}
.flex-caption, .slider-caption {
    font-weight: 200
}
@media (max-width: 991px) {
    .swiper_wrapper:not(.full-screen):not(.canvas-slider-grid),
    .swiper_wrapper:not(.full-screen):not(.canvas-slider-grid) .swiper-slide {
      height: 500px !important;
    }
}
.swiper_wrapper {
    width: auto;
    height: 550px;
}
.slider-arrow-right, .slider-arrow-left {
    top: 50%
}
.bg-pos {
    background-color: #10cfbd
}
.bg-neg {
    background-color: #f55753
}
.bg-neu {
    background-color: #dadada
}
.bg-all {
    background-color: #9B59B6
}

/* dashboard */
.post-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}
td {
    vertical-align: middle!important;
    text-align: left;
    font-size: small
}
.pricing-box.pricing-extended .pricing-features ul {
    padding-top: 0;
}
.pricing-box.pricing-extended .pricing-features li {
    width: inherit
}
.dataTables_info {
    text-align: left!important;
}
.badge {
    font-size: 14px;
}
label .form-control.form-control-sm {
    display: inline;
    width: 50%
}
table.table-bordered.dataTable td {
    text-align: center
}
table.table-bordered.dataTable td:first-child {
    text-align: left
}
tbody span.badge {
    text-transform: capitalize;
    color: white
}
tbody span.badge[sentiment=positive] {
    background-color:  #10cfbd;
}
tbody span.badge[sentiment=negative] {
    background-color:  #f55753;
}
tbody span.badge[sentiment=neutral] {
    background-color:  #b1b1b1;
}
tbody span.badge[sentiment=both] {
    background-color: orange;
}
.breadcrumb a, .breadcrumb-item.active, .breadcrumb-item + .breadcrumb-item::before {
    color: whitesmoke
}

/* Set-time */
form p {
    font-weight: 300
}
.pricing-box.pricing-extended {
    height: 100%;
}
.pricing-desc {
    height: 100%;
    width: 100%
}
.input-group-text i {
    width: 30px
}

/* login - register */
.card-body label {
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    font-weight: 300
}

/* keyword */
