.thai {
    font-family: 'Kanit', sans-serif;
    font-weight: 300
}

.thai-400 {
    font-family: 'Kanit', sans-serif;
    font-weight: 400
}

.bg-blue {
    background: #E4F1FE
}

.form-icon {
    text-align: center;
    width: 50px;
}